<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.SistemaRestauranteConnectionString"
            connectionString="Data Source=ANDRES-SOSA;Initial Catalog=SistemaRestaurante;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaRestauranteConnectionString1"
            connectionString="Data Source=ZOCAPO;Initial Catalog=SistemaRestaurante;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SistemaRestauranteConnectionString2"
            connectionString="Data Source=.;Initial Catalog=SistemaRestaurante;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>